*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

target/
!.mvn/wrapper/maven-wrapper.jar

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.flattened-pom.xml

*.xml.versionsBackup
rebel.xml
application-my.yaml

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr
out/

.nb-gradle/

.vscode/
*.swp
*.swo
*~
.history

.hbuilderx/

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
*.local

**/.env
**/.env.*

Web/dist/
Web/dist-ssr/
Web/.nuxt/
Web/.next/
Web/.output/
Web/data/

MallFrontend/dist/
MallFrontend/node_modules/
MallFrontend/unpackage/

database/*.sql
database/*.bak
Server/sql/**/*.sql

docker-compose/
docker-images/
dev/

*.md.backup
*.md.bak
three/Web/dist-prod/

.image/
docs/

auto-*.d.ts

7.13.txt
git_objects.txt
git_objects2.txt
start.sh
stop.sh

/01-*.md
/EDIT_GUIDE_BY_3031.md
/README_BY_3031.md
/营销域*.md